<table style="width:100%">
	<caption>Lonely Bot</caption>
	<tr>
		<th id='top'>Talk to me</th>
	</tr>
	<tr>
		<td>
			<form>
				<input type="text" name="text"><br>
			</form>
		</td>
	</tr>
</table>
